footer {
    background-color: #334155;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    padding: 40px;
    height: 35vh;
    padding-top: 100px;

  }
  
  .leftt {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 25%;
  }
  
  .leftt img {
    height: 50px;
    margin-right: 10px;
  }
  
  .right {
    display: flex;
    /* flex-wrap: wrap; */
    width: 75%;
    gap: 30px;
    justify-content: space-between;
  }
  
  .column {
    flex-basis: 25%;
  }
  
  .column h4 {
    margin-bottom: 15px;
    font-size: large;
    /* text-decoration:underline ; */
    padding-bottom: 8px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  
  .column ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .column li {
    margin-bottom: 15px;
  }
  
  .column li a {
    color: #fff;
    text-decoration: none;
  }
  
  .column li a:hover {
    color: #4b5563;
  }
  